# Secrets
.env
**/.env

# Python
**/.venv/
**/venv/
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/data/
**/*.sqlite
**/*.sqlite3

# Node
**/node_modules/
**/dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
